
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
  background-color: white;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: rgb(155, 208, 228);
}

.btnDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 40px;
  width: 90%;
}
