.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 20px;
  background-color: rgb(245, 244, 242);
}

/* Tablets */
@media (max-width: 992px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

/* Mobile devices */
@media (max-width: 768px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
}

.item:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.item img {
  width: 100%;
  height: auto;
  padding: 10px;
}

.item-info {
  padding: 10px;
}

.item-name {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.item-price {
  color: #e67e22;
  font-size: 16px;
}
