.items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
    background-color: rgb(245, 244, 242);
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
}

.item:hover {
    transform: translateY(-5px);
}

.item img {
    width: 100%;
    height: auto;
    /* mix-blend-mode: multiply; */
    padding: 10px;
}

.item-info {
    padding: 10px;
}

.item-name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.item-price {
    color: #e67e22;
    font-size: 16px;
}