.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  max-width: 500px;
  height: 40px;
  background-color: rgb(245, 244, 242);
  /* margin: 0 auto;  */
  padding: 0 10px; 
  box-sizing: border-box; 
  /* border: 1px solid red; */

}

.search input {
  width: 100%;
  height: 100%; 
  border: none;
  outline: none;
  padding: 0 15px; 
  font-size: 15px;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box; 
}

.search input::placeholder {
  color: rgb(185, 184, 182);
  font-size: 15px;
}

.search button {
  height: 100%; 
  width: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: orangered;
  color: white;
  font-size: 14px; 
  padding: 0 15px; 
  border-radius: 0 5px 5px 0;
  box-sizing: border-box; 
}


/* Tablets */
@media (max-width: 768px) {
  .search {
    width: 100%;
    max-width: 400px; 
  }
}

/* Mobile devices */
@media (max-width: 480px) {
  .search {
    flex-direction: column; 
    height: auto; 
    padding: 10px; 
    border-radius: 5px; 
  }

  .search input {
    border-radius: 5px; 
    margin-bottom: 10px; 
  }

  .search button {
    width: 100%; 
    border-radius: 5px; 
  }
}
