.search{
    /* border: 1px solid red; */
    display: flex;
    padding: 1px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 40px;
    background-color: rgb(245, 244, 242);
}

.search input{
  width: 100%;
height: 40px;
border: none;
outline: none;
padding: 0 20px;
font-size: 15px;
display: inline-block;
border-radius: 5px 0 0 5px;
}

.search input::placeholder{
color: rgb(185, 184, 182);
font-size: 15px;
}

.search button{
    height: 40px;
width: 100px;
border: none;
outline: none;
cursor: pointer;
background-color: orangered;
font-size: 10px;
padding: 0 20px;
color: white;
}